# Carpetas de compilación y distribución
dist/
build/
Output/


# Entorno virtual
venv/
.env
access_keys.md

# --- PROTECCIÓN DE PROPIEDAD INTELECTUAL ---
# Estos archivos contienen la lógica central y NO se deben subir al repo público
main.py
application/
domain/
core/
infrastructure/cloud_validator.py
infrastructure/excel_gateway.py
infrastructure/email_notifier.py
infrastructure/license_service.py

# Archivos de build y scripts sensibles
Pivoty.spec
pivoty_setup.iss
clean_project.py
dist/
build/
Output/

# Python Cache
**/__pycache__/
*.py[cod]
*$py.class

# Logs y capturas
logs/
*.log

# Configuraciones Locales
# (Evitar subir tus rutas privadas de Excel)
config/excels.json
config/schedule.json

# IDEs
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store